{
    "env" :{
        "es6": true,
        "node": true
    },
    "extends":[
        "airbnb/base",
        "plugin:prettier/recommended",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules":{
        "semi":"warn",
        "no-console":"warn",
        "max-len": ["error", 150]
    }
}